
#Created by Constraints Editor (xc3s1200e-fg320-5) - 2013/05/30
NET "CLK" TNM_NET = "CLK";
TIMESPEC TS_CLK = PERIOD "CLK" 20 ns HIGH 50 %;
NET "CLK" LOC = B8;
NET "RESET" LOC = B18;
NET "CSn" LOC = L15;
NET "SDATA" LOC = K12;
NET "SCLK" LOC = M15;

NET "AN0" LOC = F17;
NET "AN1" LOC = H17;
NET "AN2" LOC = C18;
NET "AN3" LOC = F15;

NET "CA" LOC = L18;
NET "CB" LOC = F18;
NET "CC" LOC = D17;
NET "CD" LOC = D16;
NET "CE" LOC = G14;
NET "CF" LOC = J17;
NET "CG" LOC = H14;


# PlanAhead Generated IO constraints 
NET "CLK" IOSTANDARD = LVCMOS33;
NET "RESET" IOSTANDARD = LVCMOS33;
NET "CSn" IOSTANDARD = LVCMOS33;
NET "SDATA" IOSTANDARD = LVCMOS33;
NET "SCLK" IOSTANDARD = LVCMOS33;

NET "AN0" IOSTANDARD = LVCMOS33;
NET "AN1" IOSTANDARD = LVCMOS33;
NET "AN2" IOSTANDARD = LVCMOS33;
NET "AN3" IOSTANDARD = LVCMOS33;

NET "CA" IOSTANDARD = LVCMOS33;
NET "CB" IOSTANDARD = LVCMOS33;
NET "CC" IOSTANDARD = LVCMOS33;
NET "CD" IOSTANDARD = LVCMOS33;
NET "CE" IOSTANDARD = LVCMOS33;
NET "CF" IOSTANDARD = LVCMOS33;
NET "CG" IOSTANDARD = LVCMOS33;

